:root {
  --random-colors: #ff6347, #4682b4, #7cfc00, #ffa500, #800080;
}

.card-container {
  background: var(--random-colors);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-container {
  background-color: aliceblue;
  padding: 2rem;
}

.card-text {
  font-size: .8rem;
}

.heading {
  font-size: 2rem;
}

.form-container {
  background-color: aliceblue;
  padding: 2rem;
  margin-top: 4rem;
  border: 2px solid gray;
}

.home-btn,
.btns {
  margin-left: 1rem;
}

.bottom-heading {
  font-size: 1.5rem;
}

.card {
  background-color: aliceblue;
}

.active-btn {
  background-color: #0000FF;
  color: white;
  outline: none;
  border: none;
}

button {
  margin-left: .5rem;
  outline: none;
  border: none;
}

label {
  font-weight: bold;
}